<section class="py-5 bg-semiDark">
    <div class="container p-5">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-4 text-white">
                <div class="d-flex justify-content-center align-items-center flex-column gap-2">
                    <div>
                        <h2 class="text-uppercase">location</h2>
                    </div>
                    <div>2215 John Daniel Drive</div>
                    <div>Clark, MO 65243</div>
                </div>
            </div>
            <div class="col-md-4 text-white">
                <div class="d-flex justify-content-center align-items-center flex-column">
                    <div>
                        <h2 class="text-uppercase">AROUND THE WEB</h2>
                    </div>
                    <div id="icon" class="d-flex justify-content-center align-items-center gap-2">
                    <div><i class="fa-brands fa-facebook-f"></i></div>
                    <div><i class="fa-brands fa-twitter"></i></div>
                    <div><i class="fa-brands fa-linkedin"></i></div>
                    <div><i class="fa-solid fa-globe"></i></div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 text-white">
               <div class="d-flex justify-content-center align-items-center flex-column">
                <div>
                    <h2 class="text-uppercase">ABOUT FREELANCER</h2>
                </div>
                <div class="text-center">Freelance is a free to use, licensed Bootstrap theme created by Route</div>
               </div>
            </div>
        </div>
    </div>
</section>
<section class="bg-black py-3">
    <div class="container">
        <div class="text-white text-center">Copyright © Your Website 2024</div>
    </div>
</section>