section
{
    min-height: 70vh;
}
.bg-lightGreen
{
    background-color: #1ABC9C;
}
.lineAB
{
    position: relative;
}
.lineAB::after
{
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    position: absolute;
    right: 60%;
    top: 50%;
}
.lineAB::before
{
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 60%;
    top: 50%;
}
