<section class="py-5 bg-lightGreen d-flex justify-content-center align-items-center">
    <div class="container">
        <h1 class="text-white text-uppercase text-center">About component</h1>
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="lineAB text-center text-white w-50 mx-auto">
                    <i class="fa-solid fa-star"></i>
                </div>
            </div>
            <div class="col-md-11">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center g-4">
                        <div class="col-md-6">
                            <div class="text-white">
                                Freelancer is a free bootstrap theme created by Route. The download includes the
                                complete source files including HTML, CSS, and JavaScript as well as optional SASS
                                stylesheets for easy customization.
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="text-white">
                                Freelancer is a free bootstrap theme created by Route. The download includes the
                                complete source files including HTML, CSS, and JavaScript as well as optional SASS
                                stylesheets for easy customization.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>