<section class="py-5">
    <div class="container">
        <h1 class="color-text text-uppercase text-center">contact Component</h1>
        <div class="row d-flex justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4 mb-5">
                <div class="lineAB text-center w-50 mx-auto">
                    <i class="fa-solid fa-star color-text"></i>
                </div>
            </div>
            <div class="col-md-10">
                <div class="container">
                    <div class="row d-flex justify-content-center align-items-center g-5">
                        <div class="col-md-9">
                            <input class="form-control" placeholder="userName"/>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="userAge"/>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="userEmail"/>
                        </div>
                        <div class="col-md-9">
                            <input class="form-control" placeholder="userPassword"/>
                        </div>
                        <div class="col-md-9 d-flex justify-content-start">
                            <div class="">
                             <button class="btn btn-dark bg-lightGreen">Send Message</button>
                            </div>
                         </div>
                    </div>
                    
                    
                </div>
            </div>
            
        </div>
    </div>
</section>
