.color-text {
    color: #2C3E50;
}

.bg-lightGreen
{
    background-color: #1ABC9C !important;
    border-color: #1ABC9C !important;
}
.lineAB {
    position: relative;
}

.lineAB::after {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #2C3E50;
    position: absolute;
    right: 60%;
    top: 50%;
}

.lineAB::before {
    content: "";
    width: 100px;
    height: 3px;
    background-color: #2C3E50;
    position: absolute;
    left: 60%;
    top: 50%;
}

.form-control {
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-bottom: 1px solid #c0b6b5c4 !important;
    box-shadow: none !important;
    padding: 13px;
}