<section class="bg-lightGreen min-vh-100">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center vh-100">
            <div class="col-md-8 col-lg-6 col-xl-5 col-xxl-4">
                <div class="card bg-transparent border border-0">
                    <div class="d-flex justify-content-center align-items-center">
                        <img src="../../assets/img/profile-image1.svg" class="img-fluid w-50"/>
                    </div>
                    <div class="card-body">
                        <h1 class="text-white text-uppercase text-center">Start Framework</h1>   
                                <div class="lineAB text-center">
                                    <i class="fa-solid fa-star text-white"></i>
                                </div>
                                <div class="text-white text-center">Graphic Artist - Web Designer - Illustrator</div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

