.bg-lightGreen
{
    background-color: #1ABC9C;
}
.lineAB
{
    position: relative;
}
.lineAB::after
{
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    position: absolute;
    right: 60%;
    top: 50%;
}
.lineAB::before
{
    content: "";
    width: 100px;
    height: 3px;
    background-color: white;
    position: absolute;
    left: 60%;
    top: 50%;
}
@media screen and (max-width : 700px) {
    
    .card-body h1
    {
        text-align: center !important;
    }
}
@media screen and (min-width : 700px) and (max-width : 992px) {
 
    .card-body h1
    {
        text-align: center !important;
    }
}
@media screen and (min-width : 992px) and (max-width : 1400px) {
    
    .card-body h1
    {
        text-align: center !important;
    }
}